PG_HOST=192.168.1.101  
PG_PORT=5432
PG_USER=hoard_user
PG_PASSWORD=hoard_password
PG_DATABASE=hoard_db

# サーバー設定
PORT=4000

# JWT Secret
SECRET="hoard_secret"

# ログイン用ドメイン設定
COOKIE_DOMAIN="yourdomain.com" # 本番環境のドメインを設定