PG_HOST=db
PG_PORT=5432
PG_USER=hoard_user
PG_PASSWORD=hoard_password
PG_DATABASE=hoard_db

# JWT Secret
SECRET="hoard_secret"

# ログイン用ドメイン設定
DOMAIN="yourdomain.com" # 本番環境のドメインを設定

# ダークモード・ライトモードの設定キー
THEME_KEY="hoard_theme_mode"

# アクセストークン有効期限(15分=15*60秒)
ACCESS_TOKEN_EXPIRY=900

# リフレッシュトークン有効期限(7日=7*24*60*60秒)
REFRESH_TOKEN_EXPIRY=604800

# リフレッシュシークレット
REFRESH_SECRET="hoard_refresh_secret"

# トークンリフレッシュ間隔(13分=13 * 60 * 1000ミリ秒)
TOKEN_REFRESH_INTERVAL=780000