services:
  app-dev:
    build:
      context: .
    container_name: hoard_dev
    env_file:
      - .env
    volumes:
      - ./:/app
    networks:
      - hoard_network
    command: sleep infinity

  frontend:
    build:
      context: .
    container_name: hoard_frontend
    working_dir: /app/packages/frontend
    restart: unless-stopped
    ports:
      - "3500:3500"
    env_file:
      - .env
    networks:
      hoard_network:
        ipv4_address: 192.168.1.100
    depends_on:
      - backend
    volumes:
      - ./packages/frontend:/app/packages/frontend
      - /app/packages/frontend/node_modules
    command: /bin/sh -c "npm run build && npm run dev"

  backend:
    build:
      context: .
    container_name: hoard_backend
    working_dir: /app/packages/backend
    restart: unless-stopped
    ports:
      - "4000:4000"
    environment:
      - DATABASE_URL=postgres://hoard_user:hoard_password@db:5432/hoard_db
      - REDIS_URL=redis://redis:6379
    env_file:
      - .env
    networks:
      hoard_network:
        ipv4_address: 192.168.1.104
    depends_on:
      - db
      - redis
    volumes:
      - ./packages/backend:/app/packages/backend
      - /app/packages/backend/node_modules
    command: /bin/sh -c "npm run build && npm run dev"

  db:
    image: postgres:15
    container_name: hoard_db
    restart: always
    ports:
      - "7654:5432"
    environment:
      POSTGRES_USER: hoard_user
      POSTGRES_PASSWORD: hoard_password
      POSTGRES_DB: hoard_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      hoard_network:
        ipv4_address: 192.168.1.101
  redis:
    image: redis:7
    container_name: hoard_redis
    restart: unless-stopped
    ports:
      - "6380:6379"
    networks:
      hoard_network:
        ipv4_address: 192.168.1.103

  nginx:
    image: nginx:latest
    container_name: hoard_nginx
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - app-dev
      - frontend
      - backend
    networks:
      hoard_network:
        ipv4_address: 192.168.1.102

networks:
  hoard_network:
    name: hoard_network
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.1.0/24

volumes:
  pgdata:
