services:
  app:
    build:
      context: .
    container_name: hoard_app
    working_dir: /app
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgres://hoard_user:hoard_password@db:5432/hoard_db
      - REDIS_URL=redis://redis:6379
    volumes:
      - /app/node_modules
    command: /bin/sh -c "npm run build && npm run start"
    depends_on:
      - db
      - redis
    networks:
      - hoard_network

  db:
    image: postgres:15
    container_name: hoard_db
    restart: always
    ports:
      - "7654:5432"
    environment:
      POSTGRES_USER: hoard_user
      POSTGRES_PASSWORD: hoard_password
      POSTGRES_DB: hoard_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      hoard_network:

  redis:
    image: redis:7
    container_name: hoard_redis
    restart: unless-stopped
    ports:
      - "6380:6379"
    networks:
      hoard_network:

  nginx:
    image: nginx:latest
    container_name: hoard_nginx
    restart: always
    ports:
      - "8120:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - app
    networks:
      hoard_network:

networks:
  hoard_network:
    name: hoard_network
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.1.0/24

volumes:
  pgdata:
